#project_container
{
  header
  {
    background: url("../images/backgroundprojectheader.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
    &>img
    {
      position: relative;
      top: 20px;
      left: 50px;
      width: 200px;
    }
  }
  main
  {
    background: url("../images/backgroundprojectmain.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: black;
    text-align: center;
    h2
    {
      margin-top: 10%;
      font-size: 4rem;
      text-align: center;
    }
    .scroll {
      margin: 8% auto;
    }
    #textdescription
    {
      border : solid 3px white;
      width : 45%;
      text-align: center;
      margin: 3% auto ;
      height: 20%;
      p
      {
        margin-top: 3%;
        color: white;
      }
      img
      {
        top: 100px;
        left: 200px;
        width: 200px;
      }
    }
  }
}
