@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "menu";
@import "project";

*{
    margin:0;
    padding: 0;
}
body{
    margin:0;
    background: #00b894;
    font-family: 'Roboto', sans-serif;
    a
    {
      text-decoration: none;
      color: white;
    }
}
