$break-small: 400px;
$break-medium: 1024px;
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "menu";
@import "homepage";
@import "footer";
@import "project";
@import "about-us";

*{
    margin:0;
    padding: 0;
}
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    a
    {
      text-decoration: none;
      color: white;
    }
}
@font-face {
font-family: 'mixtape';
src: url('../font/MIXTMK_T.otf');
font-weight: normal;
font-style: normal;
}
