@import url("https://fonts.googleapis.com/css?family=Roboto");
#menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: black;
  opacity: 0.8;
  z-index: 100;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%); }
  #menu nav {
    position: fixed;
    width: 900px;
    right: 20%;
    bottom: 15%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 8rem; }
    #menu nav ul li {
      margin: 50px 0; }
      #menu nav ul li a {
        color: grey;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        top: 20px; }
      #menu nav ul li a:hover {
        color: white; }

a#toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  z-index: 1000; }
  a#toggle img {
    width: 50px;
    height: 52px; }
  a#toggle span {
    position: relative;
    right: 15px;
    top: -5px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

a#toggle:hover span {
  opacity: 0; }

#homepage_container header {
  background: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh; }
  #homepage_container header > img {
    position: relative;
    top: 20px;
    left: 50px;
    width: 200px; }
  #homepage_container header .header_content {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #homepage_container header .header_content .phone_content {
      width: 25%;
      height: 100%;
      position: relative; }
      #homepage_container header .header_content .phone_content p {
        position: absolute;
        top: 40%;
        left: 20%;
        text-align: center;
        color: #EAE5AD;
        font-family: 'mixtape', serif; }
      #homepage_container header .header_content .phone_content .phone {
        width: 100%;
        position: relative; }
    #homepage_container header .header_content .scroll {
      height: 30px;
      -ms-flex-item-align: end;
      align-self: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      color: white;
      text-align: center; }
      #homepage_container header .header_content .scroll p {
        font-size: 0.8rem; }
      #homepage_container header .header_content .scroll img {
        height: 54px;
        width: 33px; }
    #homepage_container header .header_content .wheel {
      width: 40%;
      -ms-flex-item-align: center;
      align-self: center;
      position: relative; }
      #homepage_container header .header_content .wheel img {
        width: 100%;
        position: relative; }
      #homepage_container header .header_content .wheel a img.images1 {
        position: absolute;
        top: -10%;
        left: 45%;
        width: 10%; }
      #homepage_container header .header_content .wheel a img.images2 {
        position: absolute;
        top: 17%;
        right: 3%;
        width: 13%; }
      #homepage_container header .header_content .wheel a img.images3 {
        position: absolute;
        bottom: 24%;
        right: 0;
        width: 13%; }
      #homepage_container header .header_content .wheel a img.images4 {
        position: absolute;
        bottom: -7%;
        left: 43%;
        width: 15%; }
      #homepage_container header .header_content .wheel a img.images5 {
        position: absolute;
        bottom: 26%;
        left: 0;
        width: 13%; }
      #homepage_container header .header_content .wheel a img.images6 {
        position: absolute;
        top: 15%;
        left: 0;
        width: 13%; }
      #homepage_container header .header_content .wheel h2 {
        position: absolute;
        margin-bottom: 50px;
        top: 40%;
        text-align: center;
        margin: 0 auto;
        color: white;
        font-size: 4rem;
        text-transform: uppercase;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }

#homepage_container main {
  background: #F8F5E4;
  overflow-x: hidden;
  position: relative;
  height: 280vh; }
  #homepage_container main img.leaf {
    width: 100vw; }
  #homepage_container main img.leaf2 {
    width: 100vw;
    position: absolute;
    bottom: 0; }
  #homepage_container main img.creepers {
    width: 115vw;
    position: absolute;
    top: 12%;
    left: -10vw; }
  #homepage_container main img.picto1 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 25%; }
  #homepage_container main img.picto2 {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 20%;
    z-index: 1; }
  #homepage_container main img.picto3 {
    position: absolute;
    top: 67%;
    left: 62%;
    width: 25%; }
  #homepage_container main img.flower1 {
    position: absolute;
    top: 13%;
    left: 20%;
    width: 10%;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out; }
  #homepage_container main img.flower2 {
    position: absolute;
    top: 30%;
    left: 55%;
    width: 15%;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out; }
  #homepage_container main img.flower3 {
    position: absolute;
    top: 31%;
    left: 4%;
    width: 10%;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out; }
  #homepage_container main img.flower4 {
    position: absolute;
    top: 56%;
    left: 22%;
    width: 8%;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    z-index: 2; }
  #homepage_container main img.flower5 {
    position: absolute;
    top: 61%;
    left: 92%;
    width: 9%;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out; }
  #homepage_container main img.fern1 {
    position: absolute;
    top: 45%;
    left: 80%;
    width: 9%; }
  #homepage_container main img.fern2 {
    position: absolute;
    top: 52%;
    left: 35%;
    width: 13%; }
  #homepage_container main img.fern3 {
    position: absolute;
    top: 77%;
    left: 56%;
    width: 13%; }
  #homepage_container main h3 {
    font-family: 'mixtape', serif;
    position: absolute;
    left: 70%;
    top: 22%;
    -webkit-transform: rotate(-0.1turn);
    -ms-transform: rotate(-0.1turn);
    transform: rotate(-0.1turn);
    font-size: 2rem;
    background: rgba(0, 123, 121, 0.5);
    border-radius: 50%;
    padding: 8% 6%; }

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }
  body a {
    text-decoration: none;
    color: white; }

@font-face {
  font-family: 'mixtape';
  src: url("../font/MIXTMK_T.otf");
  font-weight: normal;
  font-style: normal; }
